* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Determination Sans Web;
  src: url("./resources/font/determinationsanswebregular-369x-webfont.woff");
}

:root {
  --text: #e7f4fe;
  --background: #000000;
  --primary: #4bbaf7;
  --secondary: #bd87ff;
  --accent: #6b00ed;
}

html {
  background-color: var(--background);
}

header {
  height: 100vh;
  width: 100vw;
}

nav {
  display: block;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  display: flex;
}

.header-content {
  height: 90%;
  width: 100%;
}

nav a {
  flex: 1;
  align-self: center;
  text-decoration: none;
  text-align: center;
  font-family: Determination Sans Web;
  color: var(--text);
  font-size: 30px;
}

#new{
    display: inline-block;
    width: 30%;
    background-color: var(--secondary);
    border-radius: 4px;
    color: #000000;
}

nav #soul {
  position: relative;
  width: 40px;
  top: 25%;
  left: 2%;
  margin-right: 45%;
  object-fit: contain;
  align-self: flex-start;
}
