* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

@font-face {
  font-family: Determination Sans Web;
  src: url("./font/determinationsanswebregular-369x-webfont.woff");
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}

::-moz-selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

:root {
  --text: #e7f4fe;
  --text-lighter: #d1e0eb;
  --background: #000000;
  --primary: #4bbaf7;
  --secondary: #bd87ff;
  --accent: #6b00ed;
}

html {
  background-color: var(--background);
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  width: 100vw;
}

header {
  height: 100vh;
  width: 100%;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 45%;
  align-content: center;
  justify-content: space-around;
  padding-left: 1%;
}

.nav-links {
  flex: auto;
  display: flex;
}

.nav-links a {
  flex: auto;
  align-self: center;
  text-decoration: none;
  text-align: center;
  font-family: Determination Sans Web;
  color: var(--text-lighter);
  font-size: 30px;
}

#new {
  display: inline-grid;
  display: -moz-inline-grid;
  width: 30%;
  background-color: var(--secondary);
  border-radius: 4px;
  color: #000000;
}

nav #soul {
  width: 40px;
  height: 40px;
  top: 25%;
  left: 2%;
  object-fit: contain;
  align-self: flex-start;
}

.header-content {
  height: 90%;
  width: 100%;
  display: flex;
}

.header-content .header-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.header-text-container h1 {
  display: block;
  flex: 1 1 auto;
  font-family: Determination Sans Web;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text);
  font-size: 91px;
  padding-top: 20%;
  height: 30%;
  float: center;
  overflow: hidden;
}

#awesome {
  background: linear-gradient(
    90deg,
    var(--primary) 20%,
    var(--secondary) 40%,
    var(--secondary) 60%,
    var(--primary) 80%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.header-text-container span {
  flex: 1 1 auto;
  height: 50%;
}

.header-text-container button {
  position: relative;
  overflow: hidden;
  background-color: var(--accent);
  border-radius: 11px;
  width: 30%;
  height: 20%;
  border: none;
  align-self: flex-start;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}
.header-text-container button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text);
  text-decoration: none;
  text-align: center;
  font-family: Determination Sans Web;
  font-size: 48px;
  padding-top: 3%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.header-text-container button:hover {
  cursor: pointer;
  background: var(--text);
  rotate: -2deg;
}
.header-text-container button a:hover {
  color: var(--background);
}

.header-content .header-sans {
  width: 50%;
  overflow: hidden;
  background-image: url("./imgs/header-sans.webp");
  background-repeat: no-repeat;
  background-size: 55vw;
  background-position: 0%;
}

audio {
  display: none;
}

.block-phone {
  display: none;
}

#second-section {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

#second-section-header {
  width: 100%;
  height: 12%;
  padding-top: 3%;
  overflow-y: hidden;
}

#second-section-header h2 {
  display: block;
  color: var(--text);
  text-align: center;
  font-family: Determination Sans Web;
  font-size: 71px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  animation: header-rotate 2s ease-in-out infinite;
}

@keyframes header-rotate {
  0% {
    rotate: 3deg;
  }

  50% {
    rotate: 2deg;
  }

  100% {
    rotate: 3deg;
  }
}

.the-boys-container {
  position: relative;
  height: 88vh;
  display: flex;
  gap: 2%;
  padding: 4%;
  padding-right: 5%;
}

.the-boys-container h4 {
  position: absolute;
  color: var(--text);
  font-family: Determination Sans Web;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#undyne-h4{
  top: 30%;
  left: 1%;
  rotate: -20deg;
}

#mettaton-h4{
  rotate: 5deg;
  top: 12%;
  left: 35%;
}

#papyrus-h4{
  rotate: 28deg;
  left: 83%;
  top: 16%;
}

.the-boys-container div {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.the-boys-img {
  flex: auto;
  height: 70%;
}

#undyne {
  background-image: url("./imgs/Undyne_battle_armor.webp");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

#mettaton {
  background-image: url("./imgs/Mettaton_battle_box.webp");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: bottom;
}

#papyrus {
  background-image: url("./imgs/Papyrus_battle.webp");
  background-repeat: no-repeat;
  background-size: 64%;
  background-position: bottom center;
}

.the-boys-container h3 {
  flex: auto;
  height: 30%;
  color: var(--text);
  animation: shine 1s linear infinite;
  text-align: center;
  font-family: Determination Sans Web;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 600px) {
  .block-phone {
    display: block;
    position: absolute;
    background-color: var(--background);
    left: 0;
    top: 0;
    height: 100vh;
    width: 600px;
    justify-content: center;
    align-content: center;
    font-size: 40px;
  }

  .block-phone h1 {
    flex: 1 1 auto;
    font-family: Determination Sans Web;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text);
  }
}
